$padding: 2em;
$color_main: #21262C;
$color_secondary: #EEDD59;
$color_3: #EBF4F4; 
// Color testing



@use 'sassFiles/__media-querys';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color_main;
    color: $color_secondary;
    .carousel-indicators {
        position: absolute !important;
        margin: -2em 0;
    }
    .slider__grid {
        padding-top: 1em;
        display: grid;

        .slider__button-wrapper {
            position: relative;
            display: grid;
            place-items: center;
            .portada {
                padding: 2px;
                padding-bottom: 2em;
                position: relative;
                width: 370px ;
            }
            .vinilo {
                position: absolute;
                display: grid;
                place-items: center;
                z-index: -1;
                // bottom: -2em;
                // left: $padding;
                width: 310px ;
            }
        }
        .slider__text-wrapper {
            order: 2;
            color: $color_3;
            padding: 0 2em;
            display: grid;
            place-items: center;
            h3 {
                font-size: 2em;
                text-align: center;
                // order: 2;
                color: $color_secondary;
            }
            p{
                // order: 3;
                text-align: center;
            }
            button {
                border: 2px solid $color_secondary !important;
                background-color: transparent;
                color: $color_secondary;
                border-radius: 5px;
                width: 50%;
                padding: .5em;
                // order: 1;
            }
        }
        img {
            max-width: 100%;
        }
    }

    .productos-wrapper {
        display: grid;
        place-items: center;
        .productos__title-container {
            padding-top: $padding;
            color: $color_3;
            display: grid;
            place-items: center;
            form {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                align-items: center;
                grid-gap: 1.3em;
                fieldset {
                    display: grid;
                    grid-template-columns: 90% auto;
                    font-size: 1.2rem;
                    align-items: center;
                }
            }
        }
        .productos__card-container {
            display: grid;
            padding: $padding / 2;
            .product-card {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                border-radius: 5px;
                width: 300px;
                display: grid;
                place-items: center;
                padding: $padding / 2;
                background-color: $color_secondary;
                color: #2e2e2e;
                font-weight: 600;
                margin: .5em 0;
                text-align: center;
                .product-img {
                    // background-color: #2e2e2e;
                    width: 250px;
                    
                }
                .product-card__buttons {
                    padding: 1em 0;
                    button {
                        padding: .5em 1em;
                        border: none;
                        border-radius: 10px;
                        font-weight: 600;
                        background-color: $color_main;
                        color: $color_3;
                    }
                }
                
            }
        }
    }
    .reseñas-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1em;
        margin: 2em;
        div {
            background-color: $color_secondary;
            color: $color_main;
            display: grid;
            place-items: center;
            height: 200px;
            width: 120px;
            text-align: center;
            padding: $padding / 2;
            img {
                border-radius: 50%;
            }
        }
    }
}

.girando {
    position: relative;
    top: 130px;
    animation: girarContinuamente 2s linear infinite;
}



.vinilo-move {
    transform: translateY(100px);
}

@keyframes girarContinuamente {
    from {
        transform: rotate(0deg); // Rotación inicial (0 grados)
        
    }
    to {
      transform: rotate(360deg); // Rotación final (360 grados)
    }
}


