@charset "UTF-8";
@media screen and (min-width: 900px) {
  body .slider__grid {
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    height: 80vh;
  }
  body .slider__grid .slider__button-wrapper {
    order: 1;
    display: grid;
    place-items: center !important;
  }
  body .slider__grid .slider__button-wrapper .portada {
    width: 500px !important;
  }
  body .slider__grid .slider__button-wrapper .vinilo {
    position: absolute;
    left: 300px;
    height: 500px !important;
    width: 500px !important;
    top: 0 !important;
  }
  body .slider__grid .slider__text-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 4em 0;
  }
  body .slider__grid .slider__text-wrapper h3 {
    font-size: 4em !important;
    width: 35%;
    text-align: left !important;
  }
  body .slider__grid .slider__text-wrapper p {
    display: block !important;
    width: 40%;
  }
  body form {
    grid-template-columns: repeat(4, 25%) !important;
  }
  body .productos__card-container {
    grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
  }
  body .reseñas-wrapper {
    grid-template-columns: repeat(3, auto);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #21262C;
  color: #EEDD59;
}
body #carrito {
  background-color: #EBF4F4;
  text-align: center;
  font-weight: 500;
}
body #carrito li {
  border-radius: 5px;
  padding: 0.5em;
  display: grid;
  place-items: center;
  margin: 0.5em;
  background-color: #EEDD59;
}
body #carrito li .cart__tarjeta {
  display: grid;
  place-items: center;
  text-align: center;
}
body #carrito li .cart__tarjeta .cart__precio-cantidad {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
body #carrito li .cart__tarjeta .cart__precio-cantidad .cart__precio {
  font-weight: bold;
}
body #carrito li button {
  border: none;
  border-radius: 5px;
  padding: 0.3em 1.5em;
  font-weight: bold;
}
body .carousel-indicators {
  position: absolute !important;
  margin: -2em 0;
}
body .slider__grid {
  padding-top: 1em;
  display: grid;
}
body .slider__grid .slider__button-wrapper {
  position: relative;
  display: grid;
  place-items: center;
}
body .slider__grid .slider__button-wrapper .portada {
  padding: 2px;
  padding-bottom: 2em;
  position: relative;
  width: 370px;
}
body .slider__grid .slider__button-wrapper .vinilo {
  position: absolute;
  display: grid;
  place-items: center;
  z-index: -1;
  width: 310px;
}
body .slider__grid .slider__text-wrapper {
  order: 2;
  color: #EBF4F4;
  padding: 0 2em;
  display: grid;
  place-items: center;
}
body .slider__grid .slider__text-wrapper h3 {
  font-size: 2em;
  text-align: center;
  color: #EEDD59;
}
body .slider__grid .slider__text-wrapper p {
  text-align: center;
}
body .slider__grid .slider__text-wrapper button {
  border: 2px solid #EEDD59 !important;
  background-color: transparent;
  color: #EEDD59;
  border-radius: 5px;
  width: 50%;
  padding: 0.5em;
}
body .slider__grid img {
  max-width: 100%;
}
body .productos-wrapper {
  display: grid;
  place-items: center;
}
body .productos-wrapper .productos__title-container {
  padding-top: 2em;
  color: #EBF4F4;
  display: grid;
  place-items: center;
  padding: 5em 0;
}
body .productos-wrapper .productos__title-container form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  grid-gap: 1.3em;
}
body .productos-wrapper .productos__title-container form fieldset {
  display: grid;
  grid-template-columns: 90% auto;
  font-size: 1.2rem;
  align-items: center;
}
body .productos-wrapper .productos__card-container {
  display: grid;
  padding: 1em;
}
body .productos-wrapper .productos__card-container .product-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  width: 300px;
  display: grid;
  place-items: center;
  padding: 1em;
  background-color: #EEDD59;
  color: #2e2e2e;
  font-weight: 600;
  margin: 0.5em 0;
  text-align: center;
}
body .productos-wrapper .productos__card-container .product-card .product-img {
  width: 250px;
}
body .productos-wrapper .productos__card-container .product-card .product-card__buttons {
  padding: 1em 0;
}
body .productos-wrapper .productos__card-container .product-card .product-card__buttons button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #21262C;
  color: #EBF4F4;
}
body .reseñas-title {
  background-color: transparent;
  color: #EBF4F4;
  text-align: center;
  padding: 2em;
}
body .reseñas-wrapper {
  display: grid;
  place-items: center;
  gap: 1em;
  margin-bottom: 2em;
  padding: 3em 0;
}
body .reseñas-wrapper div {
  background-color: #EEDD59;
  color: #21262C;
  display: grid;
  place-items: center;
  text-align: center;
  grid-gap: 2em;
  padding: 1em;
  width: 270px;
  border-radius: 5px;
}
body .reseñas-wrapper div img {
  border-radius: 50%;
  width: 50%;
}
body footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 2em;
}

.girando {
  position: relative;
  top: 130px;
  animation: girarContinuamente 2s linear infinite;
}

.vinilo-move {
  transform: translateY(100px);
}

@keyframes girarContinuamente {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */